{% extends "base.html" %}

{% block title %}Реєстрація | WinSkin{% endblock %}


{% block content %}
<div class="register-container">
  <div class="logo-container">
    <img src="{{ url_for('static', filename='images/winskin-logo.png') }}" alt="WinSkin Logo">
  </div>
  <h2>Реєстрація в WinSkin</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form id="registrationForm" action="/registration" method="post">
    <input type="text" name="username" placeholder="Логін" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <input type="password" name="confirmPassword" placeholder="Підтвердіть пароль" required>
    <button type="submit">Зареєструватися</button>
  </form>
  <p>Вже маєте акаунт? <a href="{{ url_for('login') }}">Вхід</a></p>
</div>
{% endblock %}