{% extends "base.html" %}

{% block title %}Сторінка користувача{% endblock %}

{% block content %}
<h1>Ласкаво просимо, {{ user.username }}!</h1>
<p>Email: {{ user.email }}</p>
<p>Тугрики: {{ user.tugriks }}</p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTugriksModal">
  Додати Тугрики
</button>

<!-- Modal -->
<div class="modal fade" id="addTugriksModal" tabindex="-1" aria-labelledby="addTugriksModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTugriksModalLabel">Додати Тугрики</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addTugriksForm" method="POST" action="{{ url_for('add_tugriks') }}">
          <div class="mb-3">
            <label for="tugriksAmount" class="form-label">Кількість Тугриків (максимум 1000)</label>
            <input type="number" class="form-control" id="tugriksAmount" name="tugriksAmount" min="1" max="1000" required>
          </div>
          <button type="submit" class="btn btn-primary">Додати</button>
        </form>
      </div>
    </div>
  </div>
</div>

<a href="{{ url_for('logout') }}">Вийти</a>
{% endblock %}